<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-adsense-account" content="ca-pub-8801658527232858">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="{{ "/assets/img/icon.png" | relative_url }}" rel="shortcut icon" sizes="any">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8801658527232858" crossorigin="anonymous"></script>
</head>
