.portifolio {
    .card {
        min-height: 32rem;
        transition: all 0.5s;

        .title {
            color: $primary;
        }

        &:hover {
            transform: translateY(-1rem);
            box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
        }
    }
}
