@import "bootstrap/bootstrap";

@import "variables";
@import "header";
@import "portifolio";
@import "footer";


.footer-brand {
    height: 1.4rem;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-footer {
    font-size: 1.4em;
    color: #335eea;
}
